.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.one{
  width: 6.5%;
  float: left;
  margin-left: 0%;
  background-color: #00FFFF;
  padding: 0;
  margin: 0.5%;
}
.two{
  width: 6.5%;
  float: left;
  margin-left: 15%;
  background-color: #E0FFFF;
  padding: 0;
  margin: 0.5%;
}
.three{
  width: 6.5%;
  float: left;
  margin-left: 23.5%;
  background-color: #f08080;
  padding: 0;
  margin: 0.5%;

}
.four{
  width: 6.5%;
  float: left;
  margin-left: 32%;
  background-color: #DC143C;
  padding: 0;
  margin: 0.5%;
}
.five{
  width: 6.5%;
  float: left;
  margin-left: 40.5%;
  background-color: #FFC0CB;
  padding: 0;
  margin: 0.5%;
}
.six{
  width: 6.5%;
  float: left;
  margin-left: 49%;
  background-color: #C71585;
  padding: 0;
  margin: 0.5%;
}
.seven{
  width: 6.5%;
  float: left;
  margin-left: 57.5%;
  background-color: #FFA07A;
  padding: 0;
  margin: 0.5%;
}
.eight{
  width: 6.5%;
  float: left;
  margin-left: 66%;
  background-color: #FF4500;
  padding: 0;
  margin: 0.5%;
}
.nine{
  width: 6.5%;
  float: left;
  margin-left: 74.5%;
  background-color: #FFD700;
  padding: 0;
  margin: 0.5%;
}
.ten{
  width: 6.5%;
  float: left;
  margin-left: 83%;
  background-color: #F0E68C;
  padding: 0;
  margin: 0.5%;
}
.eleven{
  width: 6.5%;
  float: left;
  margin-left: 91.5%;
  background-color: #DDA0DD;
  padding: 0;
  margin: 0.5%;
}
.twelve{
  width: 6.5%;
  float: left;
  margin-left: 100%;
  background-color: #FF00FF;
  padding: 0;
  margin: 0.5%;
}

.row2{
  width: auto;
  margin-left: 0;
  margin-right: 0;
  max-height: 50px;
  width: 100%
  border-style: solid;
}
.img1{
  padding: 0;
  margin: 0;
  width: 30%;
  margin-left: 0.5%;
}
.img2{
  padding: 0;
  margin: 0;
  width: 30%;
  margin-left: 320%;
}
.img3{
  padding: 0;
  margin: 0;
  width: 30%;
  margin-left:66%;
}
